.main
  .main-content
    -# あとで作成

  .main-side-mypage
    %nav.mypage-action
      %ul.mypage-nav__list
        = link_to "#", class: "li.mypage-nav__list-item" do
          %li
            マイページ
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          お知らせ
        = link_to "#", class: "mypage-nav__list-item" do
          %li
          やることリスト
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          いいね！一覧
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          出品する
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          下書き一覧
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          出品した商品 - 出品中
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          出品した商品 - 取引中
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          出品した商品 - 売却済み
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          購入した商品 - 取引中
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          購入した商品 - 過去の取引
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          ニュース一覧
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          評価一覧
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          ガイド
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          お問い合わせ
      %ul.mypage-nav__list
        %nav.sales-action
          メルペイ
      %ul.mypage-nav__list
        %nav.setting-action
          設定
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          プロフィール
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          発送元・お届け先住所変更
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          支払い方法
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          メール/パスワード
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          本人情報
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          電話番号の確認
        = link_to "#",class: "mypage-nav__list-item" do
          %li
          ログアウト
