.bodylogin
  .headerlogin
    .headerlogin_icon
      =link_to root_path do
        = image_tag 'logo.png', class: 'logo2'
  .mainlogin
    .mainlogin_body
      .mainlogin_body_user
        ログイン
      .mainlogin_body_form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email
            %span 必須
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email",class:"box",placeholder: '例）@とドメインを含む'
          .field
            = f.label :パスワード
            %span 必須
            %br/
            = f.password_field :password, autocomplete: "current-password",class:"box",placeholder: '7文字以上'
          .actions
            = f.submit "ログイン",class:"send"
