.top-footer
  .top-footer__box
    .top-footer__box__left
      .top-footer__box__left__title
        FURIMAについて
      .top-footer__box__left__p
        = link_to '#', class: "" do 
          会社概要（運営会社）
        = link_to '#', class: "" do 
          プライバシーポリシー
        = link_to '#', class: "" do 
          FURIMA利用規約
        = link_to '#', class: "" do 
          ポイントに関する特約
    .top-footer__box__mid
      .top-footer__box__mid__top
        .top-footer__box__mid__top__title
          FURIMAを見る
        .top-footer__box__mid__top__p
          = link_to '#', class: "" do 
            カテゴリー一覧
          = link_to '#', class: "" do 
            ブランド一覧
      .top-footer__box__mid__bot
        = link_to root_path, class: "" do 
          = image_tag 'logo-white.png', class: 'top-footer__box__mid__bot__image'
        .top-footer__box__mid__bot__at
          © FURIMA
    .top-footer__box__right
      .top-footer__box__right__title
        ヘルプ＆ガイド
      .top-footer__box__right__p
        = link_to '#', class: "" do 
          FURIMAガイド
        = link_to '#', class: "" do 
          FURIMAロゴ利用ガイドライン
        = link_to '#', class: "" do 
          お知らせ 