.top-header
  .top-header__box
    .top-header__box__top
      = link_to '#', class: "" do 
        = image_tag 'logo.png', class: 'logo'
      = form_with class: 'form' do |f|
        = f.text_field :text, class: 'form__text', placeholder: 'キーワードから探す'
        = button_tag type: 'submit', class: 'form__btn' do
          = image_tag 'icon-search 1.png', class: 'form__send'
    .top-header__box__bot
      .top-header__box__bot__left
        .category
          = link_to '#', class: "" do 
            カテゴリー
        .brand
          = link_to '#', class: "" do 
            ブランド
      .top-header__box__bot__right
        .login
          = link_to '#', class: "" do 
            ログイン
        .sign-up
          = link_to '#', class: "" do 
            新規会員登録 