.wrapper
  = render 'header'
  .top-main
    .pic
      .pic__box
        .pic__box__h2
          人生を変えるフリマアプリ
        .pic__box__h3
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
        .pic__box__btn
          = link_to '#', class: "" do 
            = image_tag 'Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg', class: 'pic__box__btn__appstore'
          = link_to '#', class: "" do 
            = image_tag 'google-play-badge.png', class: 'pic__box__btn__googleplay'
    .reason
      .reason__box
        .reason__box__top
          FURIMAが選ばれる3つの理由
        .reason__box__bot
          .reason__box__bot__left
            .reason__box__bot__left__image
              = image_tag 'pict-reason-01.jpg', class: 'reason__box__bot__left__image'
              .reason__box__bot__left__image__num
                1
            .reason__box__bot__left__h2-box
              .reason__box__bot__left__h2-box--green
                3分
              .reason__box__bot__left__h2-box__h2
                ですぐに出品
            .reason__box__bot__left__p
              スマホで入力するだけで簡単に出品できる！
          .reason__box__bot__mid
            .reason__box__bot__mid__image
              = image_tag 'pict-reason-02.jpg', class: 'reason__box__bot__mid__image'
              .reason__box__bot__mid__image__num
                2
            .reason__box__bot__mid__h2-box
              .reason__box__bot__mid__h2-box--green
                シンプル
              .reason__box__bot__mid__h2-box__h2
                で使いやすい
            .reason__box__bot__mid__p
              めんどくさい入力は必要なく、検索も購入もスムーズ！
          .reason__box__bot__right
            .reason__box__bot__right__image
              = image_tag 'pict-reason-03.jpg', class: 'reason__box__bot__right__image'
              .reason__box__bot__right__image__num
                3
            .reason__box__bot__right__h2-box
              .reason__box__bot__right__h2-box--green
                手数料
              .reason__box__bot__right__h2-box__h2
                業界最安
            .reason__box__bot__right__p
              最大3%でお得に出品&購入！
    .No1
      .No1__box
        .No1__box__title
          会員数日本一位
        .No1__box__p
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。
        .No1__box__btn
          = link_to '#', class: "" do 
            = image_tag 'Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg', class: 'pic__box__btn__appstore'
          = link_to '#', class: "" do 
            = image_tag 'google-play-badge.png', class: 'pic__box__btn__googleplay'
    .about
      .about__box
        .about__box__top
          .about__box__top__title
            FURIMAの特徴
        .about__box__bot
          .about__box__bot__leftbox
            = image_tag 'icon-01.png', class: 'about__box__bot__leftbox__image'
            .about__box__bot__leftbox__title
              簡単に売り買いできる
            .about__box__bot__leftbox__p
              スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          .about__box__bot__midbox
            = image_tag 'icon-03.png', class: 'about__box__bot__midbox__image'
            .about__box__bot__midbox__title
              売上金は即日振込みに対応
            .about__box__bot__midbox__p
              午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
          .about__box__bot__rightbox
            = image_tag 'icon-04.png', class: 'about__box__bot__rightbox__image'
            .about__box__bot__rightbox__title
              様々な支払いに対応
            .about__box__bot__rightbox__p
              お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    .pickup-category
      .pickup-category__box
        .pickup-category__box__top
          .pickup-category__box__top__title
            ピックアップカテゴリー
          .pickup-category__box__top__sub
            新規投稿商品
        .pickup-category__box__bot
          - @items.each do |item|
            = link_to item_path(item.id) do
              .pickup-category__box__bot__items
                = image_tag item.images.first.image.url(:thumb), class: 'pickup-category__box__bot__items__image'
                .pickup-category__box__bot__items__text
                  = item.name
                  %br
                  = item.price
                  円
    .pickup-brand
      .pickup-brand__box
        .pickup-brand__box__top
          .pickup-brand__box__top__title
            ピックアップブランド
          .pickup-brand__box__top__sub
            アーカイバ
        .pickup-brand__box__bot
          - @items.each do |item|
            = link_to item_path(item.id) do
              .pickup-brand__box__bot__items
                = image_tag item.images.first.image.url(:thumb), class: 'pickup-category__box__bot__items__image'
                .pickup-brand__box__bot__items__text
                  = item.name
                  %br
                  = item.price
                  円
    .download
      .download__box
        .download__box__topT
          だれでもかんたん、人生を変えるフリマアプリ
        .download__box__botT
          今すぐ無料ダウンロード！
        .download__box__btn
          = link_to '#', class: "" do 
            = image_tag 'Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg', class: 'download__box__btn__appstore'
          = link_to '#', class: "" do 
            = image_tag 'google-play-badge.png', class: 'download__box__btn__googleplay'
    = link_to new_item_path do
      .buy-items
        .buy-items__p
          出品する
        = image_tag 'icon_camera.png', class: 'buy-items__icon'
    = render 'footer'